/*h1 {
	width: 100%;
	height: 35px;
	font-family: Gotham;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
  margin-bottom: 73px;

}*/

.container3 {
  max-width: 1146px;
	align-items: center;
  margin: 11%;
	padding: 0% 10%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.greeting {
  margin: 0 auto;
	max-width: 1224px;
	height: 20px;
	font-family: NotoSansCJKkr,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: -1.2px;
	text-align: center;
	color: #000000;
}

.ucla{
	color: #0085c3;
  border-bottom: solid 5px #0085c3;
}

.text-style-2 {
	font-family: NotoSansCJKkr-Demi,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	letter-spacing: normal;
}

img.profpic {
	width: 155px;
	height: 155px;
  /*max-width: 20%;*/
  /*margin: 30% 30% 0px 30%;*/
  border-radius: 50%;
	/*filter: grayscale(100%);*/
	/*filter: url(desaturate.svg#greyscale);*/
}

img.profpic:hover {
  filter: none;
  /*-webkit-filter: grayscale(0%);*/
	-webkit-filter: brightness(115%);
		-webkit-transform: scale(1.1);
}

.profile:hover {
	/*-webkit-transform: scale(1.1);*/
			 /*-moz-transform: scale(1.1);*/
				 /*-o-transform: scale(1.1);*/
}

.members {
	/*width: 83px;*/
	height: 35px;
	font-family: NotoSansCJKkr-Demi,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 15px;
}

.profile {
  max-width: 25%;
	padding-left: 3%;
	padding-right: 3%;
	border: solid rgba(150, 150, 150, 0.53);
	border-width: 0px 0px 0px 3px;
}

.four{
  border-width: 0px 3px 0px 3px
}

.membertitle {
	margin: auto;
	display: block;
	padding-top: 5%;
}

.navbar {
	margin-bottom: 0;
}

.navbar-right {
  padding-right: 6%;
}
